parameters:
    disabledMethodCalls: []
    requiredParametersInMethodCalls: []
    forbiddenConstructorParametersTypes: []
    translateCalls: []

parametersSchema:
    disabledMethodCalls: arrayOf(arrayOf(string(), string()))
    requiredParametersInMethodCalls: arrayOf(arrayOf(anyOf(array(), string()), string()))
    forbiddenConstructorParametersTypes: arrayOf(arrayOf(anyOf(array(), string()), string()))
    translateCalls: arrayOf(string())

services:
    - PhpParser\NodeFinder
    - Efabrica\PHPStanRules\Resolver\NameResolver
