services:
    guzzleClientCallWithoutTimeoutOptionRule:
        factory: Efabrica\PHPStanRules\Rule\Guzzle\ClientCallWithoutOptionRule('timeout')
        tags:
            - phpstan.rules.rule

    guzzleClientCallWithoutConnectTimeoutOptionRule:
        factory: Efabrica\PHPStanRules\Rule\Guzzle\ClientCallWithoutOptionRule('connect_timeout')
        tags:
            - phpstan.rules.rule

    disableCallMethodInObjectMethodRule:
        factory: Efabrica\PHPStanRules\Rule\General\DisableCallMethodInObjectMethodRule('Efabrica\Cms\Core\Plugin\PluginDefinitionInterface', 'pageConfiguration', 'Efabrica\Cms\Core\Plugin\Config\PluginConfigInterface', 'setRequired')
        tags:
            - phpstan.rules.rule

    -
        factory: Efabrica\PHPStanRules\Rule\Tomaj\NetteApi\InputParamNameRule
        tags:
            - phpstan.rules.rule

    -
        factory: Efabrica\PHPStanRules\Rule\General\TraitContextRule
        tags:
            - phpstan.rules.rule
